
@media only screen and (max-width : 2500px) {
	.page-wrapper{
		overflow:hidden;
	}
	
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.atf-nav .atf-nav-list > li{
		margin-right:15px;
	}
	.atf-section-title h2{
		font-size:36px;
	}
	.tabs {
		margin-left: -10px;
		margin-right: -10px;
	}
	.atf-hero.atf-style1 .atf-hero-text.atf-style1 .atf-hero-title{
		font-size:36px;
	}
    
}

@media only screen and (max-width : 991px) {
	#home .atf-singl-video{
		display:none;
	}
	.arrow-btn{
		display:none;
	}
	.atf-section-title h2{
		font-size:25px;
	}
	.atf-single-about{
		margin:20px 0;
	}
	.atf-single-counter{
		margin:20px 0;
	}
	.atf-contact-address{
		margin:20px 0;
	}
	.atf-footer-link{
		margin:20px 0;
	}
	.atf-mailchame-content h2 {
		font-size: 24px;
	}
	.tabs li a:hover::before, .tabs li.current a::before {
	border-radius: 0%;}
}

@media only screen and (max-width : 767px) {
    .mt-md-40{
		margin-top:40px;
	}
	.tabs li {
		max-width: inherit;
	}
	.atf-choose-two-img:before,
	.atf-choose-two-img:after{
		display:none;
	}

}
@media only screen and (max-width : 320px) {
	.atf-hero.atf-style1 .atf-hero-title.atf-rotate-text {
		font-size: 25px;
	}
	.atf-hero-text.atf-style1.atf-rotate-content {
		width: 250px;
	}
}
@media only screen and (max-width : 480px) {
	.hero-content h1{
		font-size:30px;
	}
	.atf-hero-banner:before{
		border-radius:0;
	}
	.comments-area .children{
		padding-left:0;
	}
	.comments-area .children .children{
			padding-left:0;
	}
	
	
}


